* {
  box-sizing: border-box;
}

slide-show {
  position: fixed;
  top: 10px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: radial-gradient(white, #f8f8f8);
  box-shadow: 0 16px 32px rgba(0, 0, 0, .2), 0 8px 12px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.progress-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-bar .bar {
  background: #808;
  height: 8px;
  width: 0px;
  transition: all .2s ease-in-out;
}

text-slide, code-slide {
  display: none;
}

a.control {
  position: fixed;
  bottom: 10px;
  font-size: 100px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 20px;
  transition: opacity .2s linear;
  opacity: .3;
}

a.control:hover,
a.control:focus {
  opacity: .8;
}

a.control.previous-slide {
  left: 0px;
}

a.control.next-slide {
  right: 0px;
}
